body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: aliceblue;
    
    
    color: black;
}

a {
    color: inherit;
    text-decoration: none;
}

input {
    border: none;
    outline: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

span {
    font-size: 80px;
    font-weight: 700;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
/* media quary */
@media (max-width: 768px) {
    span {
        font-size: 50px;
        
    }
    .container{
        margin-top: 20px;
        
    }
}